# App artifacts
*/_build
*/db
*/deps
*/*.ez

# Nerves artifacts
nerves_aps/_images
nerves_aps/.nerves

# Generate on crash by the VM
*/erl_crash.dump

# Host loop files
host_root/host_config.json
host_root/loop
host_root/node_modules

# private configuration
fw/config/config.priv.exs
